<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuizApp</title>
  <link rel="stylesheet" href="app.component.scss">
</head>
<body>
<h1>Angular Quiz</h1>
<div *ngFor="let item of arr">
  <p>Q{{item.id}}. {{item.question}}</p>
  <div *ngFor="let i of item.options" class="multi">
    <!-- <label [attr.for] = "i.id" >
      <input type="radio" id="{{i.id}}" [(ngModel)]="i.select", (change)="onRadioChange($event)" >{{i.value}}
    </label> -->
    <input type="radio" [value]="i.value" name="option" id="i.id" (change)="onRadioChange($event, item.id)">
  <label>{{i.value}}</label>
  </div>
</div>

<div>
  <input type="submit" value="submit" id="submit" (click)="onSubmit($event)">
</div>

<div *ngFor="let item of choiceArray">
  <p>Your choice : <b>{{item}}</b></p>
</div>

</body>
</html>
